<html>
    <head>
        <title>Home Page - Weather</title>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
    </head>
    <body>
        <form action="/weather" method="POST">
            <label for="location">Enter location:</label>
            <input type="text" name="location" class="loca"><br>
            <label class="container">C
                <input type="radio" name="temp" value="CELSIUS">
                <span class="checkmark"></span>
            </label>
            <label class="container">F
                <input type="radio" name="temp" value="FAHRENHEIT">
                <span class="checkmark"></span>
            </label><br>
            <input type="submit" class="submit">
        </form>
    </body>
</html>

